# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SLIMEVR_USB_DEVICE_MANUFACTURER="KemoPati"
CONFIG_SLIMEVR_USB_DEVICE_PRODUCT="SlimeNRF Tracker SK CheeseCake NRF P00"

CONFIG_CUSTOMER_INFO_SKT0=y
CONFIG_CUSTOMER_INFO_SKT0_PRODUCT_ID=1
CONFIG_CUSTOMER_INFO_SKT0_HARDWARE_REVISION=0

CONFIG_BATTERY_USE_REG_LDO_MAPPING=y
CONFIG_SENSOR_ROTATION_0=y
CONFIG_SENSOR_TCAL_HEATED=y

CONFIG_LED_STRIP=y
CONFIG_LED_GLOBAL_BRIGHTNESS_PPTT=1000

# Generate for Adafruit UF2 bootloader flashing.
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_BUILD_OUTPUT_UF2_FAMILY_ID="0xADA52840"
