// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52833_qiaa.dtsi>

//move to dtsi?
&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 20)>, // Red
				<NRF_PSEL(PWM_OUT1, 0, 9)>, // Green
				<NRF_PSEL(PWM_OUT2, 0, 17)>; // Blue
			nordic,drive-mode = <NRF_DRIVE_D0S1>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 20)>, // Red
				<NRF_PSEL(PWM_OUT1, 0, 9)>, // Green
				<NRF_PSEL(PWM_OUT2, 0, 17)>; // Blue
			low-power-enable;
		};
	};

	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 0, 5)>,
					<NRF_PSEL(SPIM_SCK, 0, 4)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 0, 5)>,
					<NRF_PSEL(SPIM_SCK, 0, 4)>;
			low-power-enable;
		};
	};
};
//end

/ {
	model = "miro_uf2";
	compatible = "miro_uf2";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
		};
		pwm_led2: pwm_led_2 {
			pwms = <&pwm0 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 20 GPIO_OPEN_SOURCE>;
		};
		led1: led_1 {
			gpios = <&gpio0 9 GPIO_OPEN_SOURCE>;
		};
		led2: led_2 {
			gpios = <&gpio0 17 GPIO_OPEN_SOURCE>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	aliases {
		sw0 = &button0;
		pwm-led0 = &pwm_led0;
		pwm-led1 = &pwm_led1;
		pwm-led2 = &pwm_led2;
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
	};

	battery-divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 7>;
		output-ohms = <3300000>;
		full-ohms = <(5600000+3300000)>;
	};

	zephyr,user {
		int0-gpios = <&gpio0 11 0>;
		chg-gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		chg-en-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		stby-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		clk-gpios = <&gpio0 30 (GPIO_ACTIVE_HIGH)>;
		led0-gpios = <&gpio0 20 (GPIO_OPEN_SOURCE)>;
		led1-gpios = <&gpio0 9 (GPIO_OPEN_SOURCE)>;
		led2-gpios = <&gpio0 17 (GPIO_OPEN_SOURCE)>;
	};

};

&wdt {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";

	/* Drive the external 32.768 kHz oscillator enable (clk-gpios, P0.30)
	 * high from GPIO driver init onward, so the LF clock source is already
	 * running when the firmware later switches LFCLK to it. Runtime code
	 * (set_sensor_clock) still toggles this pin for sleep. */
	sensor_clk_en: sensor_clk_en {
		gpio-hog;
		gpios = <30 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio1 {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&nfct {
	status = "disabled";
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(24)>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <DT_FREQ_M(24)>;
		label = "imu-spi";
		reg = <0>;
	};
};


/* P0.09 (green LED) is an NFC pin; release it as GPIO. The first boot after
 * a full chip erase writes UICR and performs one extra reset. */
&uicr {
	nfct-pins-as-gpios;
};