&i2c1_default {
	group1 {
		bias-disable;
	};
};

&i2c1_sleep {
	group1 {
		bias-disable;
	};
};

&pwm0_default {
	group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 26)>,
			<NRF_PSEL(PWM_OUT1, 0, 30)>,
			<NRF_PSEL(PWM_OUT2, 0, 6)>;
		nordic,drive-mode = <NRF_DRIVE_D0S1>;
		nordic,invert;
	};
};

&pwm0_sleep {
	group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 26)>,
			<NRF_PSEL(PWM_OUT1, 0, 30)>,
			<NRF_PSEL(PWM_OUT2, 0, 6)>;
	};
};

/ {
	pwmleds {
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_led2: pwm_led_2 {
			pwms = <&pwm0 2 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	aliases {
		// sw0 = &button0; // Uncomment to Enable SW0
		pwm-led1 = &pwm_led1;
		pwm-led2 = &pwm_led2;
	};

	battery-divider {
        compatible = "voltage-divider";
        status = "okay";
        io-channels = <&adc 7>;
        output-ohms = <510000>;
        full-ohms = <(1000000+510000)>;
        power-gpios = <&gpio0 14 (GPIO_OPEN_DRAIN|GPIO_ACTIVE_LOW)>;
	};

	zephyr,user {
		led-capability = "rgb-pwm";
		pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>,
			<&pwm0 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>,
			<&pwm0 2 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		led-channel-colors = <1 2 3>; /* SDK labels P0.26/.30/.06 R/G/B. */
		led-channel-weights = <10000 10000 10000>;
		led-primary-channel = <1>;
		int0-gpios = <&gpio0 3 0>;
		// clk-gpios = <&gpio0 28 GPIO_OPEN_DRAIN>; // Uncomment and set to correct pin if using an external clock (crystal oscillator)
	};

};

/delete-node/ &uart0;

&i2c1 {
	compatible = "nordic,nrf-twim";
	zephyr,concat-buf-size = <1023>;
	zephyr,flash-buf-max-size = <1023>;
	clock-frequency = <I2C_BITRATE_FAST>;

	imu: imu@0 { // any address out of range (00, 7f, etc. will search all addresses and stored address first if available, specify an address here to search first otherwise
		compatible = "i2c-device";
		label = "imu";
		reg = <0>;
	};

	mag: mag@0 {
		compatible = "i2c-device";
		label = "mag";
		reg = <0>;
	};

};

/delete-node/ &spi2;
/delete-node/ &qspi;

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(24)>;
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <DT_FREQ_M(24)>;
		label = "imu-spi";
		reg = <0>;
	};
};

&cryptocell {
	status = "disabled";
};

&nfct {
	status = "disabled";
};
