// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/gpio/nordic-nrf-gpio.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

//move to dtsi?


&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 28)>,
					<NRF_PSEL(SPIM_MOSI, 0, 29)>,
					<NRF_PSEL(SPIM_SCK, 0, 30)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 28)>,
					<NRF_PSEL(SPIM_MOSI, 0, 29)>,
					<NRF_PSEL(SPIM_SCK, 0, 30)>;
			low-power-enable;
		};
	};

	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
					<NRF_PSEL(TWIM_SCL, 0, 15)>;
					bias-disable;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
					<NRF_PSEL(TWIM_SCL, 0, 15)>;
			bias-disable;
			low-power-enable;
		};
	};

	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 2)>;
			nordic,drive-mode = <NRF_DRIVE_D0S1>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PIN_DISCONNECTED>;
			low-power-enable;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 9)>,
					<NRF_PSEL(PWM_OUT1, 0, 20)>;
			nordic,drive-mode = <NRF_DRIVE_D0S1>;
			nordic,invert;
		};
	};
	
	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 9)>,
					<NRF_PSEL(PWM_OUT1, 0, 20)>;
			low-power-enable;
		};
	};
};



/ {
	model = "nini_slimevr_mag_uf2";
	compatible = "nini_slimevr_mag_uf2";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm1 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm1 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 9 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>;
		};
		led1: led_1 {
			gpios = <&gpio0 20 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	aliases {
		sw0 = &button0;
		led0 = &led0;
		led1 = &led1;
		pwm-led0 = &pwm_led0;
		pwm-led1 = &pwm_led1;
		watchdog0 = &wdt;
	};

	pwmclock: pwmclock {
		compatible = "pwm-clock";
		#clock-cells = <1>;
		pwms = <&pwm0 0 PWM_HZ(32768) PWM_POLARITY_NORMAL>;
	};

	battery-divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 12>; /* Measure VDDHDIV5 */
		output-ohms = <1>;
		full-ohms = <5>;
	};

	zephyr,user {
		/* Two controlled channels; colors/mixing are not declared by source. */
		led-capability = "dual-discrete";
		pwms = <&pwm1 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>,
			<&pwm1 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
		led-channel-colors = <0 0>;
		led-channel-weights = <10000 10000>;
		int0-gpios = <&gpio0 3 0>;
		chg-gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		stby-gpios = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		pwr-gpios = <&gpio1 9 (GPIO_ACTIVE_HIGH | NRF_GPIO_DRIVE_H0H1)>;
		/* clk-gpios = <&gpio0 2 GPIO_OPEN_DRAIN>; */
	};
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&nfct {
	status = "disabled";
};

&uicr {
	nfct-pins-as-gpios;
};

&wdt {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi3 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	max-frequency = <DT_FREQ_M(24)>;
	cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <DT_FREQ_M(24)>;
		label = "imu-spi";
		reg = <0>;
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	zephyr,concat-buf-size = <1023>;
	zephyr,flash-buf-max-size = <1023>;
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	mag: mag@0 {
		compatible = "i2c-device";
		label = "mag";
		reg = <0>;
	};
};


